/*mobile screens*/
/*@media only screen and (min-width: 320px) {
  
}*/

* {
  margin: 0;
}

.loader {
  position: fixed;
  background-color: #333333;
  height: 667px;
  width: 375px;
  transition: opacity ease-in;
}
.loader .line {
  width: 500px;
  height: 40px;
  background-color: #2d4d65;
  position: absolute;
  margin-top: -60px;

  animation: infinite;
}
.loaded {
  opacity: 0;

  pointer-events: none;
}
.gotit {
  display: none;
}
.correctans {
  display: none;
}
.answer {
  text-align: center;
  align-self: center;
  color: rgb(113, 161, 113);
}
body {
  background-color: #e5e5e5;
}
header {
  background-color: #265c85;
  height: 40vh;
  transition: 0.8s ease-in-out;
}
.hsswipe {
  height: 10px;
  transition: 0.8s ease-in-out;
}
.bodanim {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.8s ease-in-out;
}
.sodanim {
  position: absolute;
  top: 30%;
  left: 90px;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 9px;
  display: list-item;
  border-radius: 15.5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in;

  transform: rotate(90deg);
}
.shodanim {
  position: absolute;
  top: 30%;
  right: 1px;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 9px;
  display: list-item;
  border-radius: 15.5px;
  background-color: red;
  border: none;
  outline: none;
  transition: 0.4s ease-in;
  margin-right: 90px;

  transform: rotate(90deg);
}
.hswipe {
  background-color: #204969;
  height: 10vh;
  transition: 0.8s ease-in-out;
}

.overb {
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  color: #3176aa;
}
.gamet {
  font-family: Karma;
  text-align: center;
  align-self: center;
  position: relative;
}
.scoret {
  font-family: Karma;
  text-align: center;
  align-self: center;
  position: relative;
}
.timer {
  padding-top: 2%;
  padding-left: 7%;
  color: #e5e5e5;
}
header h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  color: #e5e5e5;
}
header img {
  width: 30px;
  margin-left: 10px;
}

.body {
  margin-top: 0;

  background-color: #333333;
  transition: 1s ease-in-out;

  height: 100vh;

  overflow: hidden;
}
.bswipe {
  margin-top: 0;
  background-color: #333333;
  transition: 0.8s ease-in-out;
  overflow: hidden;
  height: 90vh;
}
.question {
  width: 78%;
  height: 27%;
  top: 33%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 2s ease-in-out;
  position: absolute;
  border-radius: 10px;
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  padding: 25px;
  overflow: hidden;

  font-size: 1.5em;
  font-weight: bold;
  color: #e5e5e5;
  background-color: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(1.2px);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.qtracker {
  top: 12%;
  left: 8%;

  position: absolute;
  color: #e5e5e5;
  transition: 1s ease-in-out;
}
.qdivb {
  left: 84%;
  margin-right: 2%;
  border: none;
  top: 10%;
  border-radius: 20px;
  position: absolute;
  outline: none;
  transition: 1s ease-in-out;
  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    left: -400px;
  }
  20% {
    opacity: 0.1;
    left: -200px;
  }
  50% {
    opacity: 0.6;
    left: -100px;
    transition: 2s ease-in-out;
  }
  80% {
    opacity: 0.9;
    left: -0px;
    transition: 2s ease-in-out;
  }

  100% {
    opacity: 1;
    left: -0;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    top: 1000px;
  }
  100% {
    opacity: 1;
    top: 96%;
  }
}
.options {
  position: relative;
  top: 48%;
}
.optionsb {
  position: relative;
  margin: auto;

  display: list-item;

  width: 89vw;
  height: 7vh;
  outline: none;
  background: #d6d6d6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  border: none;
  border-radius: 40px;

  margin-bottom: 6px;

  font-size: 5.6vw;
  line-height: 29px;
  animation: slideIn 0.7s ease-in forwards;
}

.homeb {
  position: absolute;
  width: 97px;
  height: 6vh;
  left: 50%;

  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-self: center;
  transition: 0.8s ease-in-out;
  animation: slideUp 1s ease-in forwards;

  background: none;
  border-bottom: #2d4d65;
  border-color: #2d4d65;
  border-radius: 30px;
  color: #2d4d65;
  mix-blend-mode: normal;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
}
.hhomeb {
  position: absolute;
  width: 97px;
  height: 6vh;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  align-self: center;
  transition: 0.8s ease-in-out;
  animation: slideUp 1.5s ease-in forwards;

  background: none;
  border-bottom: #2d4d65;
  border-color: #2d4d65;
  border-radius: 30px;
  color: #2d4d65;
  mix-blend-mode: normal;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
}
.high1 {
  align-content: center;
  align-self: center;
  position: absolute;
  transition: 0.8s ease-in-out;

  width: 90px;

  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  margin-top: 7.5%;
  display: list-item;
  border-radius: 15.5px;
  border: none;
  outline: none;
  animation: high1 1s ease forwards;
}
.high2 {
  align-content: center;
  align-self: center;
  position: absolute;
  transition: 0.8s ease-in-out;
  width: 90px;

  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 7.5%;
  display: list-item;
  border-radius: 15.5px;
  border: none;
  outline: none;
  animation: high2 1s ease forwards;
}
@keyframes high1 {
  0% {
    top: 43.5%;
  }

  50% {
    background-color: #c6d2db;
  }

  99% {
    top: 13.5%;
    transform: rotate(-90deg);

    background-color: #3176aa;
    line-height: 1px;
  }
  100% {
    top: 13.5%;
    transform: rotate(-90deg);
    margin-left: -180px;
    background-color: #3176aa;
    line-height: 1px;
  }
}

@keyframes high2 {
  0% {
    top: 50%;
  }

  50% {
    background-color: #c6d2db;
  }

  99% {
    top: 13.5%;
    transform: rotate(90deg);
    background-color: #3176aa;
    line-height: 1px;
  }
  100% {
    top: 13.5%;
    transform: rotate(90deg);
    margin-left: 80px;
    background-color: #3176aa;
    line-height: 1px;
  }
}
@keyframes high1re {
  0% {
    top: 13.5%;
    transform: rotate(-10deg);
    margin-left: -180px;
    background-color: #3176aa;
    line-height: 1px;
  }
  100% {
    top: 44.1vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4vh;

    transition: 0.8s ease-in-out;
  }
}

@keyframes high2re {
  0% {
    top: 13.5%;
    transform: rotate(10deg);
    margin-left: 80px;
    background-color: #3176aa;
  }
  100% {
    top: 48.9vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4vh;

    transition: 0.8s ease-in-out;
  }
}
.highscorediv {
  margin: auto;
  color: #568fbb;

  top: 13.5vh;

  position: relative;
}
.hightext {
  text-align: center;
  align-self: center;
  opacity: 0;
  position: relative;
  animation: showhighscore 1.7s ease-in-out forwards;
}

@keyframes showhighscore {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.butt {
  align-content: center;
  align-self: center;
  position: absolute;
  transition: 0.8s ease-in-out;

  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.buttb {
  height: 4vh;
  margin-top: 1vh;
  display: list-item;
  border-radius: 15.5px;
  border: none;
  outline: none;
  transition: 1s ease-in-out;

  color: rgb(14, 13, 13);
  font-family: Karma;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.5vh;
}

svg {
  position: absolute;
  margin-top: -155px;
  width: 100%;
  overflow: hidden;
}
.green {
  color: green;
}
.red {
  color: red;
}

/*tablets*/

@media only screen and (min-width: 750px) {
  * {
    margin: 0;
  }

  .loader {
    position: fixed;
    background-color: #333333;
    height: 667px;
    width: 375px;
    transition: opacity ease-in;
  }
  .loader .line {
    width: 500px;
    height: 40px;
    background-color: #2d4d65;
    position: absolute;
    margin-top: -60px;

    animation: infinite;
  }
  .loaded {
    opacity: 0;

    pointer-events: none;
  }
  .correctans {
    display: none;
  }
  .answer {
    text-align: center;
    align-self: center;
    color: rgb(113, 161, 113);
  }
  body {
    background-color: #e5e5e5;
  }
  header {
    background-color: #265c85;
    height: 40vh;
    transition: 0.8s ease-in-out;
  }
  .hsswipe {
    height: 10px;
    transition: 0.8s ease-in-out;
  }
  .bodanim {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.8s ease-in-out;
  }
  .sodanim {
    position: absolute;
    top: 30%;
    left: 90px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in;

    transform: rotate(90deg);
  }
  .shodanim {
    position: absolute;
    top: 30%;
    right: 1px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    background-color: red;
    border: none;
    outline: none;
    transition: 0.4s ease-in;
    margin-right: 90px;

    transform: rotate(90deg);
  }
  .hswipe {
    background-color: #204969;
    height: 10vh;
    transition: 0.8s ease-in-out;
  }

  .overb {
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: #3176aa;
  }
  .gamet {
    font-family: Karma;
    font-size: 3em;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .scoret {
    font-family: Karma;
    font-size: 3em;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .timer {
    font-size: 2em;
    padding-top: 3%;
    padding-left: 9%;
    color: #e5e5e5;
  }
  header h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    color: #e5e5e5;
  }
  header img {
    width: 32px;
    margin-left: 10px;
  }

  .body {
    margin-top: 0;

    background-color: #333333;
    transition: 1s ease-in-out;

    height: 100vh;
    min-height: fit-content;
    width: 100%;

    left: 327.28px;
    top: 260.23px;
  }
  .bswipe {
    margin-top: 0;
    background-color: #333333;
    transition: 0.8s ease-in-out;

    height: 100vh;
  }
  .question {
    width: 78%;
    height: 27vh;
    top: 33%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    padding: 20px;
    overflow: hidden;

    font-size: 2.3em;
    font-weight: bold;
    color: #e5e5e5;
    background-color: rgba(126, 126, 126, 0.2);
    backdrop-filter: blur(1.2px);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .qtracker {
    top: 12vh;
    left: 8.2%;
    font-size: 3vw;
    position: absolute;
    color: #e5e5e5;
    transition: 1s ease-in-out;
  }
  .qdivb {
    left: 84%;
    margin-right: 2%;
    border: none;
    font-size: 1.5em;
    top: 10%;
    border-radius: 20px;
    position: absolute;
    outline: none;
    transition: 1s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      left: -400px;
    }
    20% {
      opacity: 0.1;
      left: -200px;
    }
    50% {
      opacity: 0.6;
      left: -100px;
      transition: 2s ease-in-out;
    }
    80% {
      opacity: 0.9;
      left: -0px;
      transition: 2s ease-in-out;
    }

    100% {
      opacity: 1;
      left: -0;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      top: 1000px;
    }
    100% {
      opacity: 1;
      top: 93vh;
    }
  }
  .optionsb {
    top: 42vh;
    position: relative;
    margin: auto;

    display: list-item;

    width: 81vw;
    height: 7vh;
    outline: none;
    background: #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 40px;

    margin-bottom: 6px;

    font-weight: 30;

    font-size: 4vw;
    line-height: 29px;
    animation: slideIn 0.7s ease-in forwards;
  }

  .homeb {
    position: absolute;
    width: 145px;
    height: 6vh;
    left: 50%;

    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1s ease-in forwards;

    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .hhomeb {
    position: absolute;
    width: 145px;
    height: 6vh;
    left: 50%;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1.5s ease-in forwards;

    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .high1 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    width: 14vh;

    left: 40%;

    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high1 1s ease forwards;
  }
  .high2 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;
    width: 14vh;

    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high2 1s ease forwards;
  }
  @keyframes high1 {
    0% {
      top: 43.5%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(-90deg);

      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(-90deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }

  @keyframes high2 {
    0% {
      top: 50%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(90deg);
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(90deg);
      margin-left: 80px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }
  @keyframes high1re {
    0% {
      top: 13.5%;
      transform: rotate(-10deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 42.2vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 3.2vh;

      transition: 0.8s ease-in-out;
    }
  }

  @keyframes high2re {
    0% {
      top: 13.5%;
      transform: rotate(10deg);
      margin-left: 80px;
      background-color: #3176aa;
    }
    100% {
      top: 46.5vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 3.2vh;

      transition: 0.8s ease-in-out;
    }
  }
  .highscorediv {
    margin: auto;
    color: #568fbb;

    top: 13.5vh;

    position: relative;
  }
  .hightext {
    text-align: center;
    margin-right: 30px;
    align-self: center;
    opacity: 0;
    position: relative;
    animation: showhighscore 1.7s ease-in-out forwards;
  }

  @keyframes showhighscore {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .butt {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .buttb {
    height: 3.5vh;
    max-height: 35px;
    margin-top: 1vh;
    display: list-item;
    border-radius: 20.5px;
    border: none;
    outline: none;
    transition: 1s ease-in-out;
    width: 160px;
    color: rgb(14, 13, 13);
    font-family: Karma;
    font-style: normal;
    font-weight: bold;
    font-size: 1.9em;
    line-height: 2.5vh;
  }

  svg {
    position: absolute;
    margin-top: -155px;
    width: 100%;
    overflow: hidden;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}

/*large tablets*/

/*large tablets*/
@media only screen and (min-width: 1020px) {
  * {
    margin: 0;
  }

  .hightext {
    text-align: center;
    margin-right: 0;
    font-size: 2.5em;
  }
  .qdivb {
    margin-left: 2vh;
    font-size: 2em;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      top: 1500px;
    }
    100% {
      opacity: 1;
      top: 93%;
    }
  }
  .homeb {
    width: 200px;
    height: 4.5vh;
    top: 1900%;
  }
  .hhomeb {
    width: 200px;
    height: 4.5vh;
  }
  @keyframes high1re {
    0% {
      top: 13.5%;
      transform: rotate(-10deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 43.2vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2.8vh;
      width: 15.6%;
      transition: 0.8s ease-in-out;
    }
  }

  @keyframes high2re {
    0% {
      top: 13.5%;
      transform: rotate(10deg);
      margin-left: 80px;
      background-color: #3176aa;
    }
    100% {
      top: 47vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2.8vh;
      width: 15.6%;
      transition: 0.8s ease-in-out;
    }
  }

  .loader {
    position: fixed;
    background-color: #333333;
    height: 667px;
    width: 375px;
    transition: opacity ease-in;
  }
  .loader .line {
    width: 500px;
    height: 40px;
    background-color: #2d4d65;
    position: absolute;
    margin-top: -60px;

    animation: infinite;
  }
  .loaded {
    opacity: 0;

    pointer-events: none;
  }

  .correctans {
    display: none;
  }
  .answer {
    text-align: center;
    align-self: center;
    color: rgb(113, 161, 113);
  }
  body {
    background-color: #e5e5e5;
  }
  header {
    background-color: #265c85;
    height: 500px;
    transition: 0.8s ease-in-out;
  }
  .hsswipe {
    height: 10px;
    transition: 0.8s ease-in-out;
  }
  .bodanim {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.8s ease-in-out;
  }
  .sodanim {
    position: absolute;
    top: 30%;
    left: 90px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in;

    transform: rotate(90deg);
  }
  .shodanim {
    position: absolute;
    top: 30%;
    right: 1px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    background-color: red;
    border: none;
    outline: none;
    transition: 0.4s ease-in;
    margin-right: 90px;

    transform: rotate(90deg);
  }
  .hswipe {
    background-color: #204969;
    height: 12vh;
    transition: 0.8s ease-in-out;
  }

  .overb {
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: #3176aa;
  }
  .gamet {
    font-family: Karma;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .scoret {
    font-family: Karma;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .timer {
    padding-top: 2%;
    padding-left: 7%;
    color: #e5e5e5;
    font-size: 2vh;
  }
  header h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    color: #e5e5e5;
  }
  header img {
    width: 30px;
    margin-left: 10px;
  }

  .body {
    margin-top: 0;

    background-color: #333333;
    transition: 1s ease-in-out;

    height: 100vh;

    width: 100%;

    left: 327.28px;
    top: 260.23px;
  }
  .bswipe {
    margin-top: 0;
    background-color: #333333;
    transition: 0.8s ease-in-out;

    height: 100vh;
  }
  .question {
    width: 84vw;
    height: 27vh;
    top: 32vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    padding: 20px;
    overflow: hidden;

    font-size: 3.5vh;
    font-weight: bold;
    color: #e5e5e5;
    background-color: rgba(126, 126, 126, 0.2);
    backdrop-filter: blur(1.2px);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .qtracker {
    top: 12vh;
    left: 7vw;
    font-size: 3vw;
    position: absolute;
    color: #e5e5e5;
    transition: 1s ease-in-out;
  }
  .qdivb {
    left: 85vw;
    margin-right: 2%;
    border: none;
    top: 50%;
    border-radius: 20px;
    position: absolute;
    outline: none;
    transition: 1s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    font-size: 2vh;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      left: -400px;
    }
    20% {
      opacity: 0.1;
      left: -200px;
    }
    50% {
      opacity: 0.6;
      left: -100px;
      transition: 2s ease-in-out;
    }
    80% {
      opacity: 0.9;
      left: -0px;
      transition: 2s ease-in-out;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      top: 1466px;
    }
    100% {
      opacity: 1;
      top: 93vh;
    }
  }
  .optionsb {
    top: 46vh;
    position: relative;
    margin: auto;

    display: list-item;

    width: 38vw;
    height: 7vh;
    outline: none;
    background: #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 100px;

    margin-bottom: 6px;

    font-weight: 300;

    font-size: 2.5vw;
    line-height: 29px;
    animation: slideIn 0.7s ease-in forwards;
  }

  .homeb {
    position: absolute;
    width: 140px;
    height: 3vh;
    left: 50%;

    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1s ease-in forwards;
    font-size: 2vh;
    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .hhomeb {
    position: absolute;
    width: 140px;
    height: 3vh;
    left: 50%;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1.5s ease-in forwards;
    font-size: 2vh;
    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .high1 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    width: 155px;

    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high1 1s ease forwards;
  }
  .high2 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;
    width: 155px;

    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high2 1s ease forwards;
  }
  @keyframes high1 {
    0% {
      top: 43.5%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(-90deg);

      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(-90deg);
      margin-left: -235px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }

  @keyframes high2 {
    0% {
      top: 50%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(90deg);
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(90deg);
      margin-left: 80px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }
  @keyframes high1re {
    0% {
      top: 13.5%;
      transform: rotate(-10deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 43vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2vh;

      transition: 0.8s ease-in-out;
    }
  }

  @keyframes high2re {
    0% {
      top: 13.3%;
      transform: rotate(10deg);
      margin-left: 80px;
      background-color: #3176aa;
    }
    100% {
      top: 46vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2vh;

      transition: 0.8s ease-in-out;
    }
  }
  .highscorediv {
    margin: auto;
    color: #568fbb;

    top: 16.5vh;

    position: relative;
  }
  .hightext {
    text-align: center;
    align-self: center;
    opacity: 0;
    position: relative;
    animation: showhighscore 1.7s ease-in-out forwards;
  }

  @keyframes showhighscore {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .butt {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .buttb {
    height: 59px;
    width: 17vw;
    margin-top: 1vh;
    display: list-item;
    border-radius: 19.5px;
    border: none;
    outline: none;
    transition: 1s ease-in-out;

    color: rgb(14, 13, 13);
    font-family: Karma;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5vh;
  }

  svg {
    position: absolute;
    margin-top: -160px;

    overflow: hidden;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}
/*laptop 11 12 13 14 inches*/
@media only screen and (min-width: 1100px) {
  * {
    margin: 0;
  }

  .hightext {
    text-align: center;
    margin-right: 0;
    font-size: 2.5em;
  }
  .qdivb {
    margin-left: 2vh;
    font-size: 2em;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      top: 1500px;
    }
    100% {
      opacity: 1;
      top: 93vh;
    }
  }
  .homeb {
    width: 200px;
    height: 4.5vh;
  }
  .hhomeb {
    width: 200px;
    height: 4.5vh;
  }
  @keyframes high1re {
    0% {
      top: 13.5%;
      transform: rotate(-10deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 43.2vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2.8vh;
      width: 15.6%;
      transition: 0.8s ease-in-out;
    }
  }

  @keyframes high2re {
    0% {
      top: 13.5%;
      transform: rotate(10deg);
      margin-left: 80px;
      background-color: #3176aa;
    }
    100% {
      top: 47vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 2.8vh;
      width: 15.6%;
      transition: 0.8s ease-in-out;
    }
  }

  .loader {
    position: fixed;
    background-color: #333333;
    height: 667px;
    width: 375px;
    transition: opacity ease-in;
  }
  .loader .line {
    width: 500px;
    height: 40px;
    background-color: #2d4d65;
    position: absolute;
    margin-top: -60px;

    animation: infinite;
  }
  .loaded {
    opacity: 0;

    pointer-events: none;
  }
  .correctans {
    display: none;
  }
  .answer {
    text-align: center;
    align-self: center;
    color: rgb(113, 161, 113);
  }
  body {
    background-color: #e5e5e5;
  }
  header {
    background-color: #265c85;
    height: 500px;
    transition: 0.8s ease-in-out;
  }
  .hsswipe {
    height: 10px;
    transition: 0.8s ease-in-out;
  }
  .bodanim {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.8s ease-in-out;
  }
  .sodanim {
    position: absolute;
    top: 30%;
    left: 90px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in;

    transform: rotate(90deg);
  }
  .shodanim {
    position: absolute;
    top: 30%;
    right: 1px;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 9px;
    display: list-item;
    border-radius: 15.5px;
    background-color: red;
    border: none;
    outline: none;
    transition: 0.4s ease-in;
    margin-right: 90px;

    transform: rotate(90deg);
  }
  .hswipe {
    background-color: #204969;
    height: 12vh;
    transition: 0.8s ease-in-out;
  }

  .overb {
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: #3176aa;
  }
  .gamet {
    font-family: Karma;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .scoret {
    font-family: Karma;
    text-align: center;
    align-self: center;
    position: relative;
  }
  .timer {
    padding-top: 2vh;
    padding-left: 7%;
    color: #e5e5e5;
    font-size: 2vw;
  }
  header h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    color: #e5e5e5;
  }
  header img {
    width: 30px;
    margin-left: 10px;
  }

  .body {
    margin-top: 0;

    background-color: #333333;
    transition: 1s ease-in-out;

    height: 100vh;

    width: 100%;

    left: 327.28px;
    top: 260.23px;
  }
  .bswipe {
    margin-top: 0;
    background-color: #333333;
    transition: 0.8s ease-in-out;

    height: 100vh;
  }
  .question {
    width: 84vw;
    height: 27vh;
    top: 32vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    color: #e5e5e5;
    background-color: rgba(126, 126, 126, 0.2);
    backdrop-filter: blur(1.2px);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .qdivb {
    left: 89vw;
    margin-right: 2%;
    border: none;
    top: 50%;
    border-radius: 20px;
    position: absolute;
    outline: none;
    transition: 1s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    font-size: 2vh;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      left: -400px;
    }
    20% {
      opacity: 0.1;
      left: -200px;
    }
    50% {
      opacity: 0.6;
      left: -100px;
      transition: 2s ease-in-out;
    }
    80% {
      opacity: 0.9;
      left: -0px;
      transition: 2s ease-in-out;
    }

    100% {
      opacity: 1;
      left: -0;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      top: 1466px;
    }
    100% {
      opacity: 1;
      top: 93%;
    }
  }
  .optionsb {
    top: 48vh;
    position: relative;
    margin: auto;

    display: list-item;

    width: 36vw;
    height: 7vh;
    outline: none;
    background: #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 40px;

    margin-bottom: 6px;

    font-weight: 300;

    font-size: 2vw;
    line-height: 29px;
    animation: slideIn 0.7s ease-in forwards;
  }

  .homeb {
    position: absolute;
    width: 140px;
    height: 3vw;
    left: 50%;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1s ease-in forwards;
    font-size: 2vh;
    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .hhomeb {
    position: absolute;
    width: 140px;
    height: 3vw;
    left: 50%;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-self: center;
    transition: 0.8s ease-in-out;
    animation: slideUp 1.5s ease-in forwards;
    font-size: 2vh;
    background: none;
    border-bottom: #2d4d65;
    border-color: #2d4d65;
    border-radius: 30px;
    color: #2d4d65;
    mix-blend-mode: normal;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
  }
  .high1 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    width: 155px;

    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high1 1s ease forwards;
  }
  .high2 {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;
    width: 155px;

    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 7.5%;
    display: list-item;
    border-radius: 15.5px;
    border: none;
    outline: none;
    animation: high2 1s ease forwards;
  }
  @keyframes high1 {
    0% {
      top: 20.5%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(-90deg);

      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(-90deg);
      margin-left: -235px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }

  @keyframes high2 {
    0% {
      top: 35%;
    }

    50% {
      background-color: #c6d2db;
    }

    99% {
      top: 13.5%;
      transform: rotate(90deg);
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 13.5%;
      transform: rotate(90deg);
      margin-left: 80px;
      background-color: #3176aa;
      line-height: 1px;
    }
  }
  @keyframes high1re {
    0% {
      top: 13.5%;
      transform: rotate(-10deg);
      margin-left: -180px;
      background-color: #3176aa;
      line-height: 1px;
    }
    100% {
      top: 33vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 5vh;
      width: 23px;
      transition: 0.8s ease-in-out;
    }
  }

  @keyframes high2re {
    0% {
      top: 13.3%;
      transform: rotate(10deg);
      margin-left: 80px;
      background-color: #3176aa;
    }
    100% {
      top: 39vh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 5vh;
      width: 23px;
      transition: 0.8s ease-in-out;
    }
  }
  .highscorediv {
    margin: auto;
    color: #568fbb;

    top: 22.5vh;

    position: relative;
  }
  .hightext {
    text-align: center;
    align-self: center;
    opacity: 0;
    position: relative;
    animation: showhighscore 1.7s ease-in-out forwards;
  }

  @keyframes showhighscore {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .butt {
    align-content: center;
    align-self: center;
    position: absolute;
    transition: 0.8s ease-in-out;

    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .buttb {
    height: 59px;
    width: 17vw;
    margin-top: 1vh;
    display: list-item;
    border-radius: 19.5px;
    border: none;
    outline: none;
    transition: 1s ease-in-out;

    color: rgb(14, 13, 13);
    font-family: Karma;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5vh;
  }

  svg {
    position: absolute;
    margin-top: -160px;

    overflow: hidden;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}
